.text-container {
  width: 40%;
  height: 90vh;
  position: absolute;
  top: 50px;
  left: 150px;
  background-color: #ffffff93;
  padding: 50px;
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.827);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-container h1 {
  font-size: 40px;
  font-weight: 500;
  color: #282c34;
}

.text-container span {
  font-weight: 900;
}

.text-container p {
  font-weight: 500;
  padding-top: 10px;
  color: #282c34;
}

.text-container ul {
  margin-top: 50px;
}

.text-container ul li {
  list-style: none;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #282c34;
}

.text-wrapper {
  padding-right: 50px;
}

/* Responsive */

@media (max-width: 1320px) {
  .text-container {
    left: 50px;
    width: 50%;
  }

  .text-wrapper {
    padding: 0;
  }
}

@media (max-width: 1075px) {
  .text-container {
    margin: 0;
  }

  .text-wrapper {
    padding-right: 0;
  }
}

@media (max-width: 870px) {
  .text-container {
    position: absolute;
    width: 85%;
    height: 70vh;
  }

  .text-container h1 {
    font-size: 40px;
    color: #282c34;
  }

  .text-container p {
    color: #282c34;
  }

  .text-container ul {
    margin-top: 70px;
  }

  .text-container ul li {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .text-wrapper {
    padding: 20px;
  }
}

@media (max-width: 600px) {
  .text-container {
    left: 30px;
    padding: 10px;
  }
}

@media (max-width: 460px) {
  .text-container {
    left: 0;
    top: 10px;
    width: 100%;
    height: 80vh;
    box-shadow: none;
  }

  .text-wrapper {
    margin-top: 20px;
  }

  .text-container h1 {
    font-size: 35px;
  }

  .text-container p {
    padding-top: 5px;
  }

  .text-container ul {
    margin-top: 10px;
  }

  .text-container ul li {
    padding-bottom: 10px;
  }
}
